.N-Login{
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(rgba(0, 0, 0,0.7),rgba(0, 0, 0, 0.7)), image-url('shibuya.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.N-Login-Contents{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
}

.N-LoginTitle{
  font-weight: 900;
  font-size: 60px;
  letter-spacing: 2.0px;
  margin-top: 0;
  margin-bottom: 20px;
}

.N-LoginForm{
  margin: 150px auto 80px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.N-LoginForm span{
  display: block;
  margin-bottom: 15px;
}
